<h2>Area de Servicio</h2>
<div style='display: flex; flex-direction: column;'>
  <% areas_servicios.each do |e| %>
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p><%= e.periodicidad %></p>
      <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.AREA_SERVICIO' } %>
    </div>
  <% end %>
</div>
