<h2>Locales</h2>
<div style='display: flex; flex-direction: column;'>
  <% locales.each do |e| %>
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p><%= e.dimensiones %></p>
      <p><%= e.estado %></p>
      <p><%= e.costo %></p>
      <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.LOCALES' } %>
    </div>
  <% end %>
</div>
