<h2>Seccion Bodega</h2>
<div style='display: flex; flex-direction: column;'>
  <% secciones.each do |e| %>
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p><%= e.tamaño %></p>
      <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.SECCION_BODEGA' } %>
    </div>
  <% end %>
</div>
