<h2>Tarea</h2>
<div style='display: flex; flex-direction: column;'>
  <% tareas.each do |e| %>
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p><%= e.duracion %></p>
      <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.TAREA' } %>
    </div>
  <% end %>
</div>
