<div class="card-header" id="headingOne">
  <h2 class="mb-0">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      + Tipo empleado
    </button>
  </h2>
</div>

<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
  <div class="card-body">

    <div style='display: flex; flex-direction: column;'>
      <% tipos_empleado.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p><%= e.nombre %></p>
          <p><%= e.salario %></p>
          <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.TIPO_EMPLEADOS' } %>
        </div>
      <% end %>
    </div>

  </div>
</div>

