<h2>Tipo Accidente</h2>
<div style='display: flex; flex-direction: column;'>
  <% tipos_accidentes.each do |e| %>
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p><%= e.nombre %></p>
      <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.TIPO_ACCIDENTE' } %>
    </div>
  <% end %>
</div>
