
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Salir', destroy_user_session_path, method: 'delete'%>
</nav>

<div class="container etl">
  <%= link_to 'Iniciar proceso ETL', etl_index_path, class: 'btn btn-primary' %>
</div>
