
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Salir', destroy_user_session_path, method: 'delete'%>
</nav>

<div class="container etl">
    <h2>Hola aquí vas a correr el ETL y esas madres</h2>
    
</div>