<div class="container etl shadow">
  <div class='m-5 text-center'>
    <h4 class='font-weight-bold mb-5'>El proceso de carga ha terminado</h4>
    <p class='font-italic'>Generar archivo Excel</p>
    <div>
      <%= image_tag 'excel.png', style: 'height: 150px;' %>
    </div>

    <%= link_to 'Generar y descargar excel', excel_path(format: :xlsx), class: 'btn btn-success mt-5' %>
  </div>
</div>
