<h2>Servicio Material</h2>
<div style='display: flex; flex-direction: column;'>
  <% serivicio_material.each do |e| %>
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p><%= e.cantidad %></p>
      <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.SERVICIO_MATERIAL' } %>
    </div>
  <% end %>
</div>