<h2>Servicio</h2>
<div style='display: flex; flex-direction: column;'>
  <% servicio.each do |e| %>
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p><%= e.nombre %></p>
      <p><%= e.duracion %></p>
      <p><%= e.tipo_servicio %></p>
      <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.SERVICIO' } %>
    </div>
  <% end %>
</div>