<h2>Supervision</h2>
<div style='display: flex; flex-direction: column;'>
  <% supervision.each do |e| %>
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p><%= e.valoracion %></p>
      <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.SUPERVISION' } %>
    </div>
  <% end %>
</div>