<h2>TARJETAS</h2>
<div style='display: flex; flex-direction: column;'>
  <% tarjetas.each do |e| %>
    <div class='my-2' style='display: flex; justify-content: space-between;'>
      <p><%= e.estado %></p>
      <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.TARJETA' } %>
    </div>
  <% end %>
</div>
