<h2>Tipo empleado</h2>
<div style='display: flex; flex-direction: column;'>
  <% tipos_empleado.each do |e| %>
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p><%= e.nombre %></p>
      <p><%= e.salario %></p>
      <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.TIPO_EMPLEADOS' } %>
    </div>
  <% end %>
</div>
