body {
  background-image: image-url('mall1.jpg');
  background-size: cover;
}

html,
body,
.container,
form {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

p {
  display: flex;
  flex: 1;
  justify-content: space-around;

  &.wrong {
    color: red;
  }
}

#top {
  padding-bottom: 1rem;
  font-weight: bold;
  border: bottom;
}

.container {
  flex-direction: column;
  margin-top: 5%;
  height: 100%;
  min-height: 100vh;
  background-color: white;

}

.actions {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.title {
  padding-top: 30px;
  padding-bottom: 20px;
}

.field {
  padding-bottom: 15px;
}

.links {
  padding-bottom: 15px;
}

.btn_s {
  width: 100%;
}

.etl {
  height: 80%;
}

#accordion {
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-self: center;
}

.marg {
  margin-bottom: 1rem;
}

.margL {
  margin-bottom: 3rem;
}

#contU {
  margin-bottom: 15%;
}

#formU {
  width: 85%;
  align-self: center;
}

#formU>p {
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#formU>.btn {
  margin-bottom: 1rem;
  width: 50%;
  align-self: center;
}
